.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }
.register-card{
    width:400px;
    padding:30px;
    border:1px solid #ddd;
    border-radius:8px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    background-color: white;
    }
.btn {
    background: #4a90e2;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    padding: 8px 0;
    width: 60%;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    transition: .2s
}
.form-title{
    text-align: center;  /* 标题居中 */
    margin-bottom: 24px;  /* 标题与表单之间的间距 */
    color: #333;
    font-weight: 600
}
.form-footer {
    margin-top: 16px;
    text-align: right;
    font-size: 14px;
    color: #666
}
.input-line{
    width: 78%;
    padding: 8px;
}
.error-tip {
    color: #e53935;
    font-size: 12px;
    height: 16px;
    margin-top: 2px;
    visibility: hidden
}
.error-tip:not(:empty) {
    visibility: visible; /* 有内容时显示 */
}